.page {
  background-color: #000000;
  max-width: 880px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  font-family: 'Inter', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (min-width: 701px) and (max-width: 920px) {
  .page {
    max-width: 600px;
  }
}

@media screen and (min-width: 320px) and (max-width: 700px) {
  .page {
    max-width: 320px;
  }
}
