.profile__subtitle {
  font-size: 18px;
  margin: 0;
  align-self: flex-start;
  font-weight: normal;
}

@media screen and (min-width: 320px) and (max-width: 700px) {
  .profile__subtitle {
    font-size: 14px;
    align-self: center;
    padding-left: 80px;
  }
}
