.profile__button_making_edit {
  background-color: rgba (0, 0, 0, 0);
  background-image: url(../../../../images/edit.svg);
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 18px;
  width: 24px;
  height: 24px;
}

@media screen and (min-width: 320px) and (max-width: 700px) {
  .profile__button_making_edit {
    width: 18px;
    height: 18px;
    margin-top: 0;
    object-position: center;
    object-fit: cover;
  }
}
