.popup__button_class_save {
  width: 358px;
  height: 50px;
  margin: 36px;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
}

.popup__button_class_save:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 700px) {
  .popup__button_class_save {
    width: 238px;
    height: 46px;
    margin: 25px 22px;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.2mm;
  }
}
