.popup__window {
  width: 430px;
  height: 330px;
  background-color: #ffffff;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
}

@media screen and (min-width: 320px) and (max-width: 700px) {
  .popup__window {
    width: 282px;
    height: 322px;
  }
}
