.profile__title {
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  margin-top: 10px;
  margin-bottom: 0;
  padding-right: 18px;
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media screen and (min-width: 320px) and (max-width: 700px) {
  .profile__title {
    padding-left: 65px;
    font-size: 27px;
    align-self: center;
    margin-top: 0;
    padding-right: 10px;
  }
}
