.element__button_remove {
    display: none;
    background-image: url(../../../../images/trash.svg);
    background-size: 25px;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 10px;
    right: 10px;
}