@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__title/profile__title.css);
@import url(../blocks/profile/__subtitle/profile__subtitle.css);
@import url(../blocks/profile/__button/profile__button.css);
@import url(../blocks/profile/__button/_making/profile__button_making_add.css);
@import url(../blocks/profile/__button/_making/profile__button_making_edit.css);
@import url(../blocks/elements/elements.css);
@import url(../blocks/elements/__list/elements__list.css);
@import url(../blocks/element/element.css);
@import url(../blocks/element/__title/element__title.css);
@import url(../blocks/element/__button/element__button.css);
@import url(../blocks/element/__image/element__image.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__window/popup__window.css);
@import url(../blocks/popup/__name/popup__name.css);
@import url(../blocks/popup/__button/popup__button.css);
@import url(../blocks/popup/__button/_making/popup__button_making_exit.css);
@import url(../blocks/popup/__button/_making/popup__button_making_save.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__subtitle/popup__subtitle.css);
@import url(../blocks/popup/__input/popup__input.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/popup-image/popup-image.css);
@import url(../blocks/element/__button/_like/element__button_like.css);
@import url(../blocks/element/__button/_remove/element__button_remove.css);
@import url(../blocks/like/like_active.css);
@import url(../blocks/popup/__window-image/popup__window-image.css);
@import url(../blocks/popup/__image/popup__image.css);
@import url(../blocks/popup/__button/_making/popup__button_making_exit-img.css);
@import url(../blocks/popup/__image-subtitle/popup__image-subtitle.css);
@import url(../blocks/profile/__text/profile__text.css);

