.popup__title {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  margin: auto 36px;
  margin-bottom: 28px;
  padding: 0;
}

@media screen and (min-width: 320px) and (max-width: 700px) {
  .popup__title {
    margin: 29px 22px 27px 22px;
  }
}
